// Layout for editing system flake

layout {
	default_tab_template {
		children
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
	}

	// Editing
	tab name="Editing" split_direction="vertical" focus=true {
		pane edit="./flake.nix"
		pane split_direction="horizontal" {
			pane command="sudo" start_suspended=true {
				args "nixos-rebuild" "switch"
			}
			pane
		}
	}

	// Commiting to VCS
	tab name="Commiting" split_direction="vertical" {
		pane command="jj" {
			args "diff"
		}
		pane split_direction="horizontal" {
			pane command="jj" {
				args "log"
			}
			pane command="jj" {
				args "status"
			}
			pane
		}
	}
}
